/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Heebo:wght@900&family=Kalam:wght@400;700&family=Montserrat:wght@300&family=Poppins:wght@300;500;700&family=Roboto:wght@100&family=Rubik+Glitch&display=swap');
:root {
    --main-bg-color: rgb(192, 208, 255);
    --main-logo-color: rgb(111, 139, 226);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    background: url(./Images/puzzle-2500328_1920.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 5;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 49, 49, 0.6);
    overflow: hidden;
}

.scrolling-menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.text {
    border: 10px solid rgb(254, 254, 254);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 40px;
    margin-right: 90px;
    border-right: none;
    box-shadow: -10px 20px 30px -12px rgb(247, 244, 244);
    width: 120px;
    transition: all 3s;
    z-index: 3;
}

h1 {
    text-transform: uppercase;
    font-family: 'Heebo';
    letter-spacing: 6px;
    color: rgb(255, 255, 255);
    padding: 45px;
    font-size: 65px;
    transition: all 3s;
}

h1:hover {
    transform: scale(1.4);
}


/* //scrolling Menu */

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 3s;
    z-index: 2;
}

.box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 7%;
    height: 80%;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 20px;
    margin: 5px;
    background-image: url(./Images/road-1668916_1280.jpg);
    object-fit: fit;
    background-position: 52% 95%;
    transition: all 3s;
    overflow: hidden;
}

.box-one {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 22% 95%;
}

.box-two {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 33% 95%;
}

.box-three {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 44% 95%;
}

.box-four {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 55% 95%;
}

.box-five {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 66% 95%;
}

.box-six {
    background-image: url(./Images/road-1668916_1280.jpg);
    background-position: 77% 95%;
}

.text-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.3);
    cursor: pointer;
}

p {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    word-wrap: break-word;
    display: none;
    font-weight: bold;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 10px;
    border: 1px solid rgb(254, 254, 254);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: none;
    border-top: none;
    cursor: pointer;
}

p:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.arrow-two {
    font-size: 60px;
    color: white;
    transition: all 2s;
    cursor: pointer;
    display: none;
}

.arrow-one:hover {
    transform: scale(1.4);
}

.arrow-one {
    font-size: 60px;
    color: white;
    transition: all 2s;
    cursor: pointer;
}

.arrow-one:hover {
    transform: scale(1.4);
}

.box-one:hover {
    background-image: url(./Images/Miedzychód.png);
    filter: hue-rotate(0deg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-two:hover {
    background-image: url(./Images/womans-white-board-5321356_1920.jpg);
    filter: hue-rotate(0deg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-three:hover {
    background-image: url(./Images/Jas.png);
    filter: hue-rotate(0deg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box-four:hover {
    background-image: url(./Images/music.jpg);
    filter: hue-rotate(0deg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.move {
    width: 68%;
}

.text-p {
    display: block;
    transition: all 3s;
}

.box:hover {
    width: 700px;
}

.text-block {
    opacity: 0;
}

.displayNone {
    display: none;
}

.textf {
    font-size: 20px;
}

.boxne {
    width: 800px;
}

@media (max-width: 650px) {
    .scrolling-menu {
        width: 100%;
        background-color: rgba(40, 43, 61, 0.2);
    }
    .boxes {
        height: 60%;
        margin-left: 0px;
        margin-right: 40px;
        width: 60%;
        /* background-color: rgba(56, 61, 40, 0.5); */
    }
    .box {
        width: 5%;
        margin-left: 0px;
    }
    .text-one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(105, 99, 99, 0.3);
        cursor: pointer;
    }
    .text-p {
        cursor: pointer;
    }
    h1 {
        font-size: 35px;
        font-family: 'Poppins';
        color: rgb(255, 255, 255);
        padding: 10px;
        text-shadow: 3px 5px 1px rgb(1, 1, 1), 0 3px 5em rgb(62, 62, 75), 0 0 0.2em rgb(28, 28, 29);
    }
    h1:hover {
        transform: scale(1.04);
        font-size: 35px;
        text-shadow: 3px white;
        ;
    }
    .text {
        border: 5px solid rgb(255, 255, 255);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: 40px;
        margin-right: 0px;
        border-right: none;
        width: 0;
        transition: all 3s;
    }
    .arrow {
        position: absolute;
        top: 0;
        right: 30px;
        height: 100vh;
        display: flex;
        align-items: center;
        z-index: 10;
        cursor: pointer;
    }
    .arrow-one {
        font-size: 55px;
        color: rgb(243, 203, 2);
        text-shadow: 3px 5px 1px rgb(1, 1, 1), 0 3px 5em rgb(62, 62, 75), 0 0 0.2em rgb(28, 28, 29);
    }
    .arrow-two {
        font-size: 35px;
        color: rgb(243, 203, 2);
        text-shadow: 3px 5px 1px rgb(1, 1, 1), 0 3px 5em rgb(62, 62, 75), 0 0 0.2em rgb(28, 28, 29);
    }
    .move {
        width: 90%;
        height: 60vh;
    }
    .box:hover {
        width: 90%;
    }
    .boxes {
        width: 100%;
    }
    .box-one {
        background-image: url(./Images/Miedzychód.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        object-fit: center;
    }
    .box-two {
        background-image: url(./Images/womans-white-board-5321356_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        object-fit: center;
    }
    .box-three {
        background-image: url(./Images/Jotter\ 3.png);
    }
    .box-four {
        background-image: url(./Images/netflix.jpg);
    }
    .box-five {
        background-image: url(./Images/headphones-6299753_1280.png);
    }
    .box-six {
        background-image: url(./Images/coding-1841550_1280.jpg);
    }
    .box-one:hover {
        background-image: url(./Images/Miedzychód.png);
    }
    .box-two:hover {
        background-image: url(./Images/womans-white-board-5321356_1920.jpg);
    }
    .box-three:hover {
        background-image: url(./Images/Jotter\ 3.png);
    }
    .box-four:hover {
        background-image: url(./Images/netflix.jpg);
    }
    .box-five:hover {
        background-image: url(./Images/headphones-6299753_1280.png);
    }
    /*mobile */
    .mobile {
        width: 100vw;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: none;
    }
    .oone {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 90%;
        color: rgb(255, 255, 255);
    }
    .span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 6px;
        border-radius: 50%;
        transition: all 3s;
        cursor: pointer;
        font-family: 'Montserrat';
        font-size: 20px;
        ;
    }
    .span:hover {
        transform: scale(1.4);
        background-color: rgba(0, 0, 0, 082);
        color: white;
    }
    .mobileDisplay {
        display: flex;
    }
    .btnOne {
        background-color: white;
        color: black;
    }
    .btnTwo {
        background-color: white;
        color: black;
    }
    .boxMovment {
        width: 90%;
        /* animation: boxWidth 3s;
        position: absolute; */
    }
}

@keyframes boxWidth {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes arrowWidth {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.6);
    }
}

*/